.product_container {
    grid-area: main;
    margin: 5rem;
}

.product_heading {
    column-gap: 0.5rem;
    margin-top: 1rem;
}

.product_list {
    display: grid;
    height: 100vh;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 0.3rem;
}

@media (max-width: 600px) {
    .product_list {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        margin-top: 0;
    }

    .product_heading {
        column-gap: 0.5rem;
        margin-top: 2rem;
    }
}