.mobile_filter_container {
    width: 80%;
    padding: 0 2rem;
    margin-top: 8rem;
    background-color: var(--shadow-color);
    margin: 8rem auto;
}

@media (min-width: 600px) {
    .mobile_filter_container {
        display: none;
    }
}