.main_modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    left: 0;
    top: 0;
}

.address_modal_wrapper {
    width: 20rem;
    height: 38rem;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background-color: var(--line-color);
    border-radius: 1rem;
}

.address_form {
    padding: 1rem;
    gap: 2rem;
}

.address_input {
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    font-size: 0.9rem;
}

.address_input:focus {
    outline: var(--grey-color);
}

.red_star {
    color: var(--alert-color);
}

.modal_btns_wrapper {
    width: 100%;
    padding: 0 3rem;
}

.modal_btn {
    padding: 0.2rem 0.5rem;
}

@media (max-width: 600px) {
    .address_modal_wrapper {
        width: 30rem;
        height: 60rem;
    }

    .address_input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    
    }

    .modal_btns_wrapper button {
        font-size: 1.4rem;
    }

    .addr_form_heading {
        font-size: 1.4rem;
    }
}