.address_modal_wrapper {
    width: 20rem;
    height: 38rem;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: var(--line-color);
    z-index: 99;
    border-radius: 1rem;
    /* background-color: rgba(0, 0, 0, .7); */
}

.address_form {
    padding: 1rem;
    gap: 2rem;
}

.address_input {
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    font-size: 0.9rem;
}

.address_input:focus {
    outline: var(--grey-color);
}

.red_star {
    color: var(--alert-color);
}

.modal_btns_wrapper {
    width: 100%;
    padding: 0 3rem;
}

.modal_btn {
    padding: 0.2rem 0.5rem;
}