#auth_container {
    margin: 0 auto;
    margin-top: 10rem;
    padding-bottom: 1rem;
}

.input_field .input_label .input_box {
    margin-top: 0.5rem;
    color: var(--grey-color);
    border: 1px solid var(--line-color);
}

.input_field .input_label .input_box:focus {
    outline: none;
}

#input_subheading {
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 400;
}

#login_button {
    color: var(--white-color);
}

input.input_checkbox {
    width: 1rem;
    height: 1rem;
}

.checkbox_notify {
    padding-top: 1.1rem;
    font-size: 0.9rem;
}

.input_field .input_label {
    position: relative;
}

.input_field .input_label .show_hide_btn {
    position: absolute;
    font-size: 0.8rem;
    right: 2rem;
    bottom: 3rem;
    top: 60%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: var(--light-grey-color);
}

.input_container .input_field button {
    margin-left: 0;
    margin-right: 1rem;
}

/* logout */

.logout_container {
    margin-top: 10rem;
}

.logout_box {
    box-shadow: 1px 1px 1px 5px var(--shadow-color);
    width: 40rem;
    height: 20rem;
    margin: 0 auto;
}

.logout_text {
    margin: 1rem;
}

.logout_box .link {
    color: var(--secondary-color);
}

.form_label {
    color: var(--secondary-color);
}

.toast {
    display: flex;
    background-color: var(--secondary-color);
}