.main_section {
    gap: 1rem;
    grid-area: section;
}

.new_arrivals {
    position: relative;
    background-color: var(--shadow-color);
    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

.content {
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-flex;
    font-size: 1rem;   
}

.tag_heading {
    grid-area: 1 / -1;
    justify-self: flex-start;
    align-self: start;
    z-index: 1;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.main_container .adjust_img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 600px) {
    .tag_heading {
        font-size: 1rem;
        background-color: var(--shadow-color);
        padding: 0.3rem 0.5rem;
    }
    .content {
        color: var(--primary-color);
        top: 50%;
        left: 40%;
        font-size: 1rem;   
    }
}