.main_section {
    gap: 1rem;
    grid-area: section;
}

.new_arrivals {
    /* display: grid; */
    position: relative;
    background-color: var(--shadow-color);
    /* background-color: #f8edeb; */
    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

.content {
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-flex;
    font-size: 1rem;   
}

/* .content,
.background {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} */

.new_arrivals .background {
    /* justify-self: end; */
}

.tag_heading {
    grid-area: 1 / -1;
    justify-self: flex-start;
    align-self: start;
    z-index: 1;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.main_container .adjust_img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 600px) {
    .tag_heading {
        font-size: 0.8rem;
    }
}