.cart_wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 0.5rem;
    grid-template-areas:
        "header header"
        "main main";
}

.cart_container {
    margin-top: 6rem;
}

.cart_box {
    padding: 2rem;
    margin: 0 auto;
    gap: 1rem;
}

.cart_box_items {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}

.card_grid {
    background-color: var(--shadow-color);
}

.cart_box .card_grid img {
    width: 15rem;
    height: fit-content;
}

.right_space {
    margin-right: 0.5rem;
}

.cart_title {
    text-align: center;
    margin: 2rem 0;
}

.empty_cart {
    margin: 10rem auto;
    gap: 0.6rem;
}

@media (max-width: 600px) {
    .cart_box_items {
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    }
}