.user_profile_main {
    width: 40rem;
    margin: 0 auto;
    margin-top: 10rem;    
    border: 1px solid var(--line-color);
}

.details_box {
    padding: 2rem 3rem;
}

.profile_container {
    margin: 0 auto;
    width: 100%;
}

.profile_option {
    font-size: 1.3rem;
}

.quick_links {
    margin-top: 0rem;
    width: 12rem;
    border-right: 1px solid var(--line-color);
}

.profile_edit {
    margin: 1rem;
}

.edit_list {
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem 0;
    border: 1px solid var(--shadow-color);
}

.edit_list:hover { 
    border: 1px solid var(--line-color);
}

.account_head {
    padding: 0.2rem 0 1rem 0;
    border-bottom: 1px solid var(--line-color);
}

.lines {
    text-align: center;
    padding: 0.2rem 0 1rem 0;
    border-bottom: 1px solid var(--line-color);
    font-size: 1.3rem;
}

.profile_details {
    gap: 1rem;
    margin: 0 2rem;
}

.edit_list a {
    width: 80%;
    align-self: center;
}

.pr_menu {
    font-size: 1.5rem;
}

.quick_links .menu_link {
    font-size: 1rem;
    margin: 1.5rem 3rem;
}

.profile_title {
    font-weight: 600;
}

.title_text {
    color: var(--grey-color);
}

.profile_logout_btn {
    align-self: center;
}

.profile_navigate {
    font-size: 1.2rem;
}

.profile_navigate:hover {
    font-weight: 400;
}