.card_vertical .card_vertical_info .overflow_desc {
    font-size: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12rem;
}

.card_vertical_info .img_pill_wrapper {
    position: relative;
    background-color: var(--shadow-color);
}

.card_vertical_info .img_pill_wrapper .pill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--line-color);
    color: var(--primary-color);
}

.img_pill_wrapper .wishlist_icon {
    font-size: 1.1rem;
    position: absolute;
    cursor: pointer;
    color: var(--secondary-color);
}

.card_vertical_info .icon_btn {
    border: var(--white-color);
}

.card_image .card_vertical .product_toast {
    background-color: var(--secondary-color);
}

@media (max-width: 600px) {
    /* .card_vertical_info .pill {
        top: 22rem;
        left: 0;
        font-size: 1rem;
    } */

    /* .wishlist_icon {
        top: 5.5rem;
    } */
}