.card_vertical .card_vertical_info .overflow_desc {
    font-size: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12rem;
}

.card_vertical_info .img_pill_wrapper {
    position: relative;
    background-color: var(--shadow-color);
}

.card_vertical_info .img_pill_wrapper .pill {
    position: absolute;
    top: 89%;
    left: 0;
    background-color: var(--line-color);
    color: var(--primary-color);
}

.img_pill_wrapper .wishlist_icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 4;
    color: var(--secondary-color);
}

.card_vertical_info .icon_btn {
    border: var(--white-color);
}

.card_image .card_vertical .product_toast {
    background-color: var(--secondary-color);
}

.img_pill_wrapper img {
    cursor: pointer;
}