.main_nav {
    gap: 1.5rem;
    grid-area: nav;
    margin-top: rem;
}

.img_title {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

.category_margin .nav_item img {
    padding: 0 4.5rem;
    /* background: var(--shadow-color); */
    background-color: #f8edeb;
    transition: var(--trans-5);
}

.category_margin .nav_item img:hover {
    filter: grayscale(100%);
    transition: var(--trans-5);
}

.hero_title {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 3rem;
    font-family: 'Marck Script', cursive;
    color: #343a40;
    border-bottom: 2px solid #fae1dd;
    transition: 1s ease-in-out;
}

.hero_title:hover {
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.4s ease-in-out;
    border-bottom: 2px solid #ff928b;
    transform: skew(10deg, 0deg);
}

.nav_item {
    /* background-color: var(--shadow-color); */
    background-color: #f8edeb;
    height: 100%;
    width: 25%;
    transition: var(--trans-5);
    /* filter: grayscale(100%); */
}

.nav_item:hover {
    opacity: 1;
    transform: scale(0.96);
    transition: var(--trans-5);
    /* -webkit-filter: grayscale(0); */
    /* transition: 1.5s ease-in-out; */
    filter: grayscale(0);
    border-radius: 2%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.main_nav a{
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .hero_title {
        margin: 2rem 0;
        font-size: 2rem;
    }
    .category_margin .nav_item img {
        padding: 0;
        background: var(--shadow-color);
    }
}