.main_header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    z-index: 5;
    background-color: var(--white-color);
}

header .header_logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.navigation .nav_left {
    margin-left: 0.4rem;
}

.nav_center {
    flex-basis: 25%;
    position: relative;
}

header .tagline {
    font-family: 'Marck Script', cursive;
    color: rgb(163, 89, 66);
}

.nav_center .search {
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem 0.6rem;
    border-radius: 0;
    border: none;
    background-color: var(--white-color);
    border: 1px solid var(--shadow-color); 
}

.header_btn {
    font-size: 0.9rem;
    border: 0;
}

.header .nav_right {
    flex-basis: 10%;
}

header .nav_right i  {
    font-size: 1.5rem;
    cursor: pointer;
}

header .nav_right span {
    font-size: 0.8rem;
    height: 1.5rem;
    min-width: 1.5rem;
    top: -1rem;
}

#header_box {
    border: 0;
}

.nav_center .search_icon {
    position: absolute;
    font-size: 0.9rem;
    left: 91%;;
    bottom: 1.3rem;
    top: 35%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: var(--line-color);
}

@media (max-width: 600px) {
    .nav_right .cta_btn {
        display: none;
    }
    .nav_center .search_icon {
        left: 80%;
        color: var(--grey-color);
    }
    .nav_center .search::placeholder {
        opacity: 0.3;
    }
}