.route_link {
    text-align: center;
}

.user_select {
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--line-color);
}

@media (max-width: 600px) {
    html {
        font-size: 62.5%;
    }
} 