.cart_price_box {
    background-color: var(--shadow-color);
    padding: 1rem;
    height: fit-content;
    position: sticky;
    top: 7rem;
    margin-top: 0.3rem;
    padding: 2.4rem 1rem; 
}

.price_heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-color);
}

.price_menu {
    column-gap: 2rem;
    padding-right: 1rem;
}

.price_name {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.price_amount {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: var(--grey-color);
    font-weight: 600;
}

.line_space {
    margin: 0.5rem 0;
}

.total_amount {
    color: var(--success-color);
    margin: 0.5rem 0;
}

.purchased_items_wrapper {
    margin-bottom: 1.5rem;
}

.delivery_addr_wrapper {
    margin-top: 1rem;
    padding: 2rem 0;
}

.address_box {
    padding: 2rem 0;
    gap: 0.2rem;
}